@model IEnumerable<Delivery.ServiceReference1.Productos>

@{
    ViewBag.Title = "ListadoProductos";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2 class="text-center"><em>LISTADO DE PRODUCTOS</em></h2>


<table class="table table-bordered table-striped">
    <tr>
        <th class="text-center">
            @Html.Label("CODIGO")
        </th>
        <th class="text-center">
            @Html.Label("NOMBRE")
        </th>
        <th class="text-center">
            @Html.Label("DESCRIPCIÓN")
        </th>
        <th class="text-center">
            @Html.Label("PRECIO")
        </th>
        <th class="text-center">
            @Html.Label("STOCK")
        </th>
        <th class="text-center">
            @Html.Label("CATEGORÍA")
        </th>
        <th class="text-center">
            @Html.Label("FOTO")
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descripcion)
    </td>
    <td>
        @item.precio.ToString("C")
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.stock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.categoria)
    </td>
    <td>
        <img class="foto" src="@Url.Content(item.foto)" />
    </td>
    <td>
        @Html.ActionLink("Editar", "modificaProducto", new { id = item.codigo }, new { @class = "btn btn-success" }) |<br />
        @Html.ActionLink("Detalles", "detalleProducto", new { id = item.codigo }, new { @class = "btn btn-warning" }) |<br />
        @Html.ActionLink("Eliminar", "eliminaProducto", new { id = item.codigo }, new { @class = "btn btn-danger" })
    </td>
</tr>

    }

</table>

